name: main

on:
  push:
    branches: [ master ]
  pull_request:
env:
  fourmolu_url: https://github.com/fourmolu/fourmolu/releases/download/v0.7.0.1/fourmolu-0.7.0.1-linux-x86_64

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Install linters
        run: |
          curl -L -o /usr/local/bin/fourmolu ${{env.fourmolu_url}}
          chmod a+x /usr/local/bin/fourmolu

      - name: Run fourmolu
        run: |
          find app src test -name *.hs -exec fourmolu --mode 'check' {} +

      - name: Run HLint
        run: |
          curl -sSL https://raw.github.com/ndmitchell/hlint/master/misc/run.sh | sh -s src app test

  test:
    runs-on: ubuntu-latest

    env:
      horus_compile_version: 0.0.2

    steps:
      - uses: actions/checkout@v2

      - name: Install SMT solvers
        run: |
          sh ./scripts/ci/install-z3.sh
          sh ./scripts/ci/install-mathsat.sh

      - uses: actions/setup-python@v4
        with:
          python-version: '3.7'

      - name: Setup BATS
        uses: mig4/setup-bats@v1

      - uses: freckle/stack-cache-action@main

      - uses: actions/cache@v2
        name: Cache python dependencies
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ env.horus_compile_version }}
          restore-keys:
            ${{ env.pythonLocation }}-

      - name: Build
        run: |
          jobs=$(getconf _NPROCESSORS_ONLN)
          stack --jobs "$jobs" install

      - name: Install python dependencies
        env:
          USER: ${{ secrets.PYPI_USER }}
          PASS: ${{ secrets.PYPI_PASSWORD }}
        run: >
          pip install horus-compile=="$horus_compile_version"
          --extra-index-url http://${USER}:${PASS}@139.162.29.35/
          --trusted-host 139.162.29.35

      - name: Test
        run: bash ./tests/entrypoint.sh
