name: main

on:
  push:
    branches: [ master ]
  pull_request:
env:
  fourmolu_url: https://github.com/fourmolu/fourmolu/releases/download/v0.7.0.1/fourmolu-0.7.0.1-linux-x86_64

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v4
        with:
          python-version: '3.7'

      - uses: actions/cache@v2
        name: Cache python dependencies
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ env.horus_compile_version }}
          restore-keys:
            ${{ env.pythonLocation }}-

      - name: Install python dependencies
        run: 
          pip install cairo-lang==0.10.1

      - name: Install linters
        run: |
          curl -L -o /usr/local/bin/fourmolu ${{env.fourmolu_url}}
          chmod a+x /usr/local/bin/fourmolu

      - name: Run fourmolu
        run: |
          find app src -name *.hs -exec fourmolu --mode 'check' {} +

      - name: Install libtinfo (HLint dependency)
        run: |
          sudo apt-get install libtinfo6
          sudo apt-get install libtinfo5

      - name: 'Set up HLint'
        uses: rwe/actions-hlint-setup@v1
        with:
          version: '3.4.1'

      - name: 'Run HLint'
        uses: rwe/actions-hlint-run@v2
        with:
          path: '["src/", "app/"]'
          fail-on: suggestion

      - name: Run cairo-format
        run:
          find tests/resources/golden -name *.cairo -exec cairo-format -c {} +

  test:
    runs-on:
      labels: ubuntu-latest-16-cores

    env:
      horus_compile_version: 0.0.6.5

    steps:
      - uses: actions/checkout@v3

      - name: Install SMT solvers
        run: |
          sh ./scripts/ci/install-z3.sh
          sh ./scripts/ci/install-mathsat.sh
          sh ./scripts/ci/install-cvc5-linux.sh

      - uses: actions/setup-python@v4
        with:
          python-version: '3.7'

      - name: Setup BATS
        uses: mig4/setup-bats@v1
        with:
          bats-version: 1.8.2

      - uses: freckle/stack-cache-action@main

      - uses: actions/cache@v3
        name: Cache python dependencies
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ env.horus_compile_version }}

      - name: Install python dependencies
        env:
          USER: ${{ secrets.PYPI_USER }}
          PASS: ${{ secrets.PYPI_PASSWORD }}
        run: |
          pip install setuptools wheel
          pip install horus-compile=="$horus_compile_version" --extra-index-url http://${USER}:${PASS}@139.162.29.35/ --trusted-host 139.162.29.35

      - name: Build
        run: |
          jobs=$(getconf _NPROCESSORS_ONLN)
          stack --jobs "$jobs" install --ghc-options -Werror

      - name: Test
        run: bash ./tests/entrypoint.sh
