name: profile

on:
  workflow_dispatch:
env:
  fourmolu_url: https://github.com/fourmolu/fourmolu/releases/download/v0.7.0.1/fourmolu-0.7.0.1-linux-x86_64

jobs:
  profile:
    runs-on: ubuntu-latest

    env:
      horus_compile_version: 0.0.6.5

    steps:
      - uses: actions/checkout@v3

      - name: Install SMT solvers
        run: |
          sh ./scripts/ci/install-z3-linux-amd64.sh
          sh ./scripts/ci/install-mathsat-linux.sh
          sh ./scripts/ci/install-cvc5-linux.sh

      - uses: actions/setup-python@v4
        with:
          python-version: '3.7'

      - name: Setup BATS
        uses: mig4/setup-bats@v1
        with:
          bats-version: 1.8.2

      - uses: freckle/stack-cache-action@main

      - uses: actions/cache@v3
        name: Cache python dependencies
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ env.horus_compile_version }}

      - name: Install python dependencies
        env:
          USER: ${{ secrets.PYPI_USER }}
          PASS: ${{ secrets.PYPI_PASSWORD }}
        run: |
          pip install setuptools wheel
          pip install horus-compile=="$horus_compile_version" --extra-index-url http://${USER}:${PASS}@139.162.29.35/ --trusted-host 139.162.29.35

      - name: Build
        run: |
          jobs=$(getconf _NPROCESSORS_ONLN)
          stack --jobs "$jobs" install

      - name: Test
        run: |
          bash ./tests/profiling-entrypoint.sh
          echo "-----Profiling results-----"
          python3 ./scripts/ci/test_data_extraction.py
